@using Microsoft.AspNet.Identity
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "authError";
}

<h1 class="text-danger">Error Empty Basket</h1>
<h2 class="text-danger">There are no Items in your basket. Please go to marketplace to add an item. </h2>




